.container {
  color: #B7B7B7;
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  width: 100%;
}

.widget {
  margin-top: 25%;
  text-align: center;
}

.cool-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ED1C24;
  border-radius: 50%;
  color: #FFF;
  font-size: 2.5em;
  height: inherit;
  line-height: 2.5em;
  text-align: center;
  text-indent: 0.5em;
  width: 2.5em;
}